@page
@model WebApp.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<br />
<br />

<h1 class="one">Create category</h1>

<br />
<div class="row1">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group2">
                <input asp-for="Category.Type" type="radio" value="Expense" id="e" />
                <label asp-for="Category.Type" for="e" class="c">Expense</label>
                <input asp-for="Category.Type" type="radio" value="Income" id="i" />
                <label asp-for="Category.Type" for="i" class="c">Income</label>
                <span asp-validation-for="Category.Type" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Category.Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Category.Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Category.Icon" class="form-control" placeholder="Icon" />
                <span asp-validation-for="Category.Icon" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group1">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="hp">
    <a class="hp1" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
