@page
@model WebApp.Pages.Transactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<br />
<br />

<h1 class="one">Create new transaction</h1>

<br />
<div class="row1">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Transaction.Category" class="form-control" placeholder="Category"/>
                <span asp-validation-for="Transaction.Category" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Transaction.Amount" class="form-control" placeholder="Amount" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Transaction.Note" class="form-control" placeholder="Note" />
                <span asp-validation-for="Transaction.Note" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Transaction.Date" class="form-control" placeholder="Date" />
                <span asp-validation-for="Transaction.Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group1">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

<br />
<div class="hp">
    <a class="hp1" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
