html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #28282B;
  color: white;
}

.btn:hover {
    background-color: white;
    color: #28282B;
    border-color: #28282B;
}

.btn {
    background-color: #28282B;
    color: white;
    border-color: white;
}

.navbar{
    background-color: #28282B;
    color: white;
}

.nav-link {
    color: white;
}

.table{
    color: white;
}

.one{
    text-align: center;
}

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1% 2%;
    max-width: 440px;
    border-radius: 5px;
    background: #616062;
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
    text-align: center;
}

.row3 {
    margin: auto;
    padding: 1% 2%;
    max-width: 640px;
    border-radius: 5px;
    background: #616062;
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
}

.hp {
    text-align: center;
}

.hp1{
    color: white;
}

    .hp1:hover {
        color: #b4bdc4;
    }

.form-group1 {
    display: flex;
    justify-content: center;
}

.form-group2 {
    display: flex;
    justify-content: center;

    width: fit-content;
    border: 1px solid #666;
    border-radius: 4px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-left: 83px;
}

#e{
    display: none;
}

    #e:checked + .c {
        background: #b4bdc4;
    }

#i{
    display: none;
}

#i:checked + .c {
    background: #b4bdc4;
}

.c {
    font-family: sans-serif;
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
}

.c:last-of-type{
    border-right: 0;
}

    .c:hover {
        background: #eee;
        color: #28282B;
    }

.d {
    display: flex;
    justify-content: center;
}

.table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.tr:hover {
    background: #616062;
    color: #000000;
}