@page
@using Microsoft.EntityFrameworkCore.Storage
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row3">
    <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>

    <script class="two">
        var xValues1 = 
        var yValues1 = 

        var barColors = [
            "#088F8F",
            "#50C878",
            "#FDDA0D",
            "#D27D2D",
            "#6495ED",
            "#D22B2B",
            "#DE3163"
        ];

        new Chart("myChart1", {
            type: "pie",
            data: {
                labels: xValues1,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Expense By Category"
                }
            }
        });
    </script>
</div>